*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: arial;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.build-img{
    margin: 35px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #666;
}

button {
    
 
 width: 200px;
 height: 35px;
 background-color: #FD52C0;
 border-radius: 20px;
 color: white
}
/* .cta-button:hover {
    background-color: #dc3545; */


.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.feature {
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.feature p {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}

.feature img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.footer {
    background-color: #212529;
    color: white;
    padding: 50px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer-content p {
    margin-bottom: 10px;
    color: white;
}

.social-links {
    margin-top: 20px;
}

.social-link {
    margin: 0 10px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.newsletter h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.newsletter p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: white;
}

.newsletter-form {
    display: flex;
}

.newsletter-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
}






screen-img{
    width: 600px;
}
